*{
	font-family: 'Lato', sans-serif;
	/*outline: dotted;*/
}

.head{
	margin-left: 20px;
	margin: 10px;
}

.col-md-4{

	text-align: center;
	margin: 20px;
	margin-left: 60px;
	padding: 10px;
	border-radius: .25rem;
}
.Generate{
	vertical-align: center;
}
footer{
	font-size: 10px;
}

.container{
	position: center;
}
.input-group-text {
	padding:00;
	background-color: #17a2b8;
	border: 00;
}
.custom-select{
background-color: #17a2b8;
color: #f8f9fa;
border: 00;	
}
#demo{
	background-color: #6c757d;
	margin-top: 150px;
	align-content: center;
	height: 250px;
	font-size: 200;


}
